MYSQL_DATABASE=your_database_name
MYSQL_USER=your_mysql_user
MYSQL_PASSWORD=your_mysql_password
MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_PORT=3307

DB_URL=jdbc:mysql://mysql:3306/your_database_name?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=your_mysql_user
DB_PASSWORD=your_mysql_password

JWT_SECRET=your_base64_jwt_secret_here
SPRING_JPA_HIBERNATE_DDL_AUTO=update

APP_PORT=8081
